* {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 20px;
}

@font-face {
  font-family: "Proxima Nova Extra Condensed";
  src: local("Proxima Nova Extra Condensed Regular"), local("Proxima-Nova-Extra-Condensed-Regular"), url("../fonts/ProximaNovaExCn-Regular.woff2") format("woff2"), url("../fonts/ProximaNovaExCn-Regular.woff") format("woff"), url("../fonts/ProximaNovaExCn-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Proxima Nova Extra Condensed", sans-serif;
  color: #262626;
}

.section {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
}
.section__title {
  margin-bottom: 100px;
}

.button-o {
  border: 2px solid blue;
  text-transform: uppercase;
  padding: 17px 22px;
  font-size: 10px;
  background-color: white;
  color: blue;
}

.button {
  text-transform: uppercase;
  height: 80px;
  font-size: 20px;
  padding: 25px 45px;
  border: none;
  background: blue;
  color: white;
}

.input {
  height: 80px;
  border: 1px solid black;
}

.checkbox {
  display: none;
}
.checkbox:checked + label:before {
  background: blue;
}
.checkbox-label {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.checkbox-label:hover {
  cursor: pointer;
}
.checkbox-label:before {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid black;
  margin-right: 20px;
}

@media (max-width: 576px) {
  .button-o {
    font-size: 8px;
  }
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 99;
}
.navbar-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-menu__button {
  margin-left: 60px;
  margin: 30px;
}
.navbar_mobile, .navbar_landline {
  text-align: right;
}
.navbar_phone {
  display: block;
  margin-bottom: 5px;
  font-size: 19px;
  font-family: "Proxima Nova Extra Condensed", sans-serif;
  color: #262626;
  text-decoration: none;
}

.menu {
  position: fixed;
  z-index: 0;
  width: 100%;
  left: 0;
  top: 130px;
  padding: 20px 0;
  background-color: blue;
  transition: 0.2s;
  transform: translateY(-100%);
}
.menu_active {
  transform: translateY(0);
}
.menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu_link {
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  color: white;
}
.menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(0, 128, 0, 0.1);
  border-left: 1px solid rgba(0, 128, 0, 0.1);
  height: 80px;
  width: 70px;
}
.menu-button-line {
  display: block;
  margin: 3px 0;
  width: 20px;
  height: 2px;
  background-color: blue;
}

.logo_text {
  display: block;
  font-family: "Proxima Nova Extra Condensed", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
.logo_description {
  display: block;
  font-size: 14px;
  color: #7b7b79;
  text-decoration: none;
}

@media (max-width: 992px) {
  .navbar_mobile, .navbar_landline {
    display: none;
  }
}
@media (max-width: 576px) {
  .logo {
    display: none;
  }
  .menu-button {
    height: 60px;
  }
}
.hero {
  background: url("../img/hero/astro.jpeg") no-repeat center top 80px;
  background-size: contain;
  padding-top: 260px;
  padding-bottom: 270px;
}
.hero_title {
  font-size: 30px;
  margin-bottom: 50px;
  margin-left: 35px;
}
.hero_subtitle {
  display: block;
  font-size: 30px;
  font-family: "Proxima Nova Extra Condensed", sans-serif;
  margin-left: 35px;
  margin-bottom: 110px;
}
.hero_button {
  margin-left: 35px;
}

@media (max-width: 992px) {
  .hero {
    background-size: cover;
    background-position: top left 50%;
  }
}
.offer {
  padding: 129px 0;
}
.offer__block {
  border: 1px solid blue;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 80px;
  margin-top: -200px;
}
.offer__title {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.offer__subtitle {
  display: block;
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 48px;
}

.form__row {
  display: flex;
  align-items: center;
  max-width: 900px;
  margin-bottom: 25px;
}
.form__row:last-child {
  margin-bottom: 0px;
}
.form__label {
  display: block;
  font-size: 17px;
  margin-bottom: 15px;
}
.form__group {
  flex-basis: 33.33%;
}
.form__input {
  width: 100%;
  border-right-width: 0px;
  padding: 25px;
}
.form__input:last-child {
  border-right-width: 1px;
}
.form__button {
  width: 100%;
}

@media (max-width: 1190px) {
  .offer-block {
    background-position: center right -100px;
    padding: 40px;
  }
}
@media (max-width: 768px) {
  .form__row {
    flex-direction: column;
  }
  .form__row-checkbox {
    flex-direction: row;
  }
  .form__group {
    width: 100%;
  }
  .form__input {
    margin-bottom: 20px;
  }
}
.feature-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feature-block__image {
  width: 70px;
}
.feature-block__item {
  flex-basis: 33%;
  text-align: center;
  margin-bottom: 100px;
}

@media (max-width: 991px) {
  .feature-block__item {
    flex-basis: 50%;
  }
}
@media (max-width: 768px) {
  .feature-block__item {
    flex-basis: 100%;
  }
}/*# sourceMappingURL=style.css.map */